.root {
  display: flex;
  flex-direction: column;

  padding: 25px 25px;
  width: fit-content;
  height: fit-content;

  border: 2px solid lightblue;
  border-radius: 2px;

  .total {
    display: flex;
    flex-direction: row;

    margin: 10px 0px;
  }

  .lastCreatedWiki {
    margin: 10px 0px;
  }
}
