.root {
  display: flex;
  flex-direction: column;

  padding: 25px 25px;
  width: fit-content;
  height: fit-content;

  border: 2px solid lightblue;
  border-radius: 2px;

  .controls {
    display: flex;
    flex-direction: column;

    margin-bottom: 15px;
    
    .control {
      display: flex;
      flex-direction: row;
    }
  }
}
